.catalog-wrapper {
    display: flex;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    padding-left: 36px;
    height: max-content;
    flex: 1;
    justify-content: space-between;
}



.cart-counter {
    position: absolute;
    top: 19px;
    right: 13px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #21FF38;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    position: fixed;
    top: 15%;
    left: 15%;
    width: 700px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--background);

}

.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;

}

.search-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 1%;
    align-self: flex-start;
}

.search-bar {
    width: 20%;
    height: 36px;
    flex-shrink: 0;
    outline: 0;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding-left: 50px;
    box-sizing: border-box;
    color: var(--text-primary);
    background-color: var(--background-secondary);
}

.catalog__item-button {
    width: 134px;
    height: 32px;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-primary);
    outline: none;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}
