@font-face {
    font-family: 'BigShouldersDisplay';
    src: url('../../fonts/BigShouldersDisplay-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BigShouldersDisplay';
    src: url('../../fonts/BigShouldersDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BigShouldersDisplay';
    src: url('../../fonts/BigShouldersDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
html{
    font-size: 26px;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
body * {
    font-family: "BigShouldersDisplay";
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    height: calc(100vh - 100px);
    width: 100vw;
}
.app-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}