.sidebar{
    width: 23%;
    height: 500px;
}
.sidebar__search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.sidebar__menu{
    display: flex;
    flex-direction: column;
    height: 50%;
}
.sidebar__menu-item{
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    list-style: none;
    font-size: 30px;
    padding-left: 47px;
    height: 100%;
}
.sidebar__menu-item--active{
    background: #FFF;
    border-color: black;
}

.sidebar__menu-item--active .arrow {
    position: absolute;
    right: 10px;
    width: 45px;
    height: 1px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    display: block;
}

.sidebar__menu-item--active .arrow::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 1px;
    top: -2px;
    right: -2px;
    background-color: #000;
    transform: rotate(45deg);
}

.sidebar__menu-item--active .arrow::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 1px;
    top: 2px;
    right: -2px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(-45deg);
}

.sidebar__menu-item--active .arrow::before .arrow:hover {
    animation: arrow 1s linear infinite;
}


.sidebar__menu{
    padding: 0;
    margin: 0;
}